.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .linkmenu {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .linkmenu:hover {
    color: #ddd;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: transform 0.3s;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  
    .menu.active {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  }
  